<form [formGroup]="cardForm">
    <input formControlName="name" />
    <div *ngIf="cardForm.controls.name.dirty
            && cardForm.controls.name.touched
            && cardForm.controls.name.errors">
        <ng-container *ngIf="cardForm.controls.name.errors.required">
            Value is required.
        </ng-container>
    </div>
    <div *ngIf="cardForm.controls.name.errors">
        <ng-container *ngIf="cardForm.controls.name.errors.minlength">
            Value you entered is
            {{ cardForm.controls.name.errors.minlength.actualLength}}
            characters long, but it must be at least
            {{ cardForm.controls.name.errors.minlength.requiredLength }}
            characters.
        </ng-container>
    </div>
</form>

<hr />

<div>Form Contents: {{ cardForm.value | json}}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Error around name: {{ cardForm.controls.name.errors | json }}</div>